<div class="container-fluid" style="margin-top: 32px">
  <app-full-page-loading [isLoading]="isLoading"></app-full-page-loading>
  <app-page-title title="Quản lý không gian làm việc"></app-page-title>
  <div class="row">
    <div class="card mb-0">
      <div class="card-body">
        <form [formGroup]="searchForm" (submit)="search()">
          <div class="row align-items-end">
            <div class="col-md-3">
              <div class="mb-4">
                <label for="nameId">Tên</label>
                <input
                  id="nameId"
                  name="name"
                  type="text"
                  class="form-control"
                  formControlName="name"
                  maxlength="500"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-4">
                <label>Mã</label>
                <input
                  id="code"
                  name="phone"
                  type="text"
                  class="form-control"
                  formControlName="code"
                  maxlength="500"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-wrap gap-2 mt-0 mb-4 align-items-end">
                <button type="submit" class="btn btn-primary">
                  <i class="fas fa-search"></i> Tìm kiếm
                </button>
                <button
                  type="button"
                  (click)="create()"
                  class="ml-2 btn btn-success"
                >
                  <i class="bx bx-plus-medical"></i> Thêm mới
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <style>
      th {
        white-space: nowrap;
        color: #b5b7c0;
        font-size: 14px;
        font-family: "Inter";
        font-weight: 500;
      }
      .table-bordered td {
        background: white;
      }
      .container-fluid {
        min-height: calc(100vh - 108px);
        overflow: hidden;
      }
      .table-responsive {
        overflow-x: hidden;
      }
      /* CSS cho card-body - Thêm các style của bạn ở đây */
    </style>
    <div class="card mb-0">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Mã không gian làm việc</th>
                  <th>Tên không gian làm việc</th>
                  <th>Mô tả không gian làm việc</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let table of tables; let i = index">
                    <td>{{ (currentPage * 10) + i + 1 }}</td>
                  <td style="max-width: 50px">
                    <p class="class_nowrap_lims">{{ table.code }}</p>
                  </td>
                  <td style="max-width: 50px">
                    <p class="class_nowrap_lims">{{ table.name }}</p>
                  </td>
                  <td style="max-width: 50px">
                    <p class="class_nowrap_lims">{{ table.description }}</p>
                  </td>
                  <td>
                    <button
                      (click)="edit(table)"
                      style="
                        background: #0eca9e;
                        color: white;
                        border-radius: 4px;
                        border: 1px #0eca9e solid;
                        height: 46px;
                        margin-right: 20px;
                      "
                    >
                      Cập nhật <img src="./assets/images/icon/edit.svg" />
                    </button>
                    <button
                      (click)="selected(table)"
                      style="
                        background: #3a57e8;
                        color: white;
                        border-radius: 4px;
                        border: 1px #3a57e8 solid;
                        height: 46px;
                        margin-right: 20px;
                      "
                    >
                      Chuyển đến không gian làm việc
                      <img src="./assets/images/icon/send.svg" />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          <div
            class="row justify-content-md-between align-items-md-center mt-2"
          >
            <div class="col-sm-12 col-md-5">
              <div class="pagination d-flex align-items-center gap-2">
                <button
                  (click)="loadPage(currentPage - 1)"
                  [disabled]="currentPage === 0"
                  class="btn btn-outline-primary"
                >
                  Trước
                </button>
                <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
                <button
                  (click)="loadPage(currentPage + 1)"
                  [disabled]="currentPage >= totalPages - 1"
                  class="btn btn-outline-primary"
                >
                  Sau
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
