.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.disabled-overlay {
  pointer-events: none;
  opacity: 0.5;
}
